<div class="login-container">

    <h1 class="title">INICAR SESION</h1>

    <p class="subtitle">
        Hola bienvenido de nuevo estas a punto de iniciar sesion en UBIK,
        si aun no esta registrado puede registrarse <a href="#">aqui</a>.
    </p>

    <form class="login-form">

        <label>Ingrese su correo electronico</label>
        <input type="email" placeholder="">

        <button type="submit" class="btn-login">Ingresar</button>

    </form>

    <p class="continue">Continuar con:</p>

    <div class="social-buttons">
        <i class="fa-brands fa-google google"></i>
        <i class="fa-brands fa-facebook facebook"></i>
    </div>

</div>


